<launch>
    <node name="talker" pkg="homework1" type="talker" output="screen"/>
    <node name="listener" pkg="homework1" type="listener" output="screen" launch-prefix="x-terminal-emulator -e"/>
    <node name="selector" pkg="homework1" type="selector" output="screen" launch-prefix="x-terminal-emulator -e"/>
</launch>